/** @format */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	overflow-x: hidden;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	transition: all 0.4s ease;
}
a:hover {
	text-decoration: none;
}
.navbar .navbar-nav {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	align-items: center;
	margin: auto;
	width: 100%;
	transition: 0.6s all ease-in-out;
}
header {
	background-color: #41295af3;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1;
	border-bottom: 0.5px solid #f2f2f2ab;
}
header a {
	color: #fff;
	text-transform: uppercase;
	font-size: smaller;
}
.navbar {
	position: relative;
	padding: 0.2rem 1rem;
}
.toggle-nav {
	position: absolute;
	right: 0;
	background-color: #41295a00;
	border: none;
	color: #f2f2f2;
	display: none;
}
.toggle-nav:focus {
	outline: none;
}
.nav-item {
	position: relative;
}
.nav-item .tab {
	position: absolute;
}
.nav-item a.nav-link:hover ~ .tab {
	transform: scale(1);
}
.tab {
	transition: 0.5s all ease-in-out;
	background-color: rgba(17, 17, 17, 0.938);
	padding: 1rem;
	width: 200px;
	border-radius: 4px;
	transform: scale(0);
}
.tab:hover {
	transform: scale(1);
}
.tab a {
	font-size: 12px;
	display: block;
	margin-bottom: 1rem;
}

/* showcase */
.showcase {
	background: url("../imgs/showcase-home.jpg");
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 92vh;
}
.dark-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(17, 17, 17, 0.6);
}
.showcase .container {
	height: 100%;
}
.showcase .container .inner {
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.about {
	background-color: #ffa500;
	color: #fff;
}
.selected-works {
	background-color: rgb(239, 49, 88);
	color: #fff;
}
.clear-fixed {
	overflow: auto;
}
.selected-works button {
	color: rgb(238, 23, 66);
	background-color: rgba(238, 23, 66, 0);
	border: none;
}
.selected-works button:focus {
	outline: none !important;
}
i:focus {
	outline: none !important;
}
.selected-works .wrap {
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	cursor: crosshair;
}
.selected-works .wrap:nth-child(1),
.selected-works .wrap:nth-child(6) {
	background: url("../imgs/about-1.jpg");
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.selected-works .wrap:nth-child(2),
.selected-works .wrap:nth-child(5) {
	background: url("../imgs/about-2.jpg");
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.selected-works .wrap:nth-child(4),
.selected-works .wrap:nth-child(3) {
	background: url("../imgs/about-3.jpg");
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.selected-works .wrap .item {
	transition: all 0.4s ease;
	transform: translateX(-500px);
}
.selected-works .wrap:hover .item {
	transform: translateX(0);
}
.statistics,
.blog {
	background-color: rgb(107, 9, 144);
}
.blog .card {
	transition: 0.4s all ease;
	margin-bottom: 1rem;
}
.blog .card:hover {
	background-color: #41295a00;
	cursor: pointer;
	border: 1px solid #f2f2f2;
	color: #fff;
}
.clients {
	background-color: rgb(27, 49, 148);
}

/* customize scroll bar */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgb(27, 49, 148);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.clients .brand {
	font-family: "Comic Neue", cursive;
	margin-bottom: 4rem;
}
.contact form {
	width: 600px;
	margin: auto;
}
.contact form input,
.contact form textarea {
	display: block;
	margin-bottom: 1rem;
	width: 100%;
	border: none;
	background-color: rgba(255, 255, 255, 0);
	padding: 0.5rem;
	border-bottom: 1px solid #999;
}
.contact form textarea {
	resize: none;
}
.contact form input[type="submit"] {
	border: 1px solid #f2f2f2;
}
::placeholder {
	color: #f2f2f2;
	background-color: #ffa60000;
}
.contact form input:focus,
.contact form textarea:focus {
	outline: none;
	border-radius: 3px;
}
footer ul a {
	display: block;
	margin-left: 0.5rem;
	color: #f2f2f2;
	font-size: larger;
}
.go-top {
	display: inline-block;
	position: fixed;
	right: 20px;
	bottom: 20px;
}
.go-top a {
	background-color: rgba(95, 158, 160, 0.849);
	color: #fff;
	border-radius: 50%;
	padding: 12px 16px;
	font-size: larger;
}
