/** @format */

@media (max-width: 991px) {
	.toggle-nav {
		display: block;
		top: 5px;
	}
	.navbar .navbar-nav {
		display: flex;
		flex-direction: column;
		align-items: start;
		padding: 1rem 0;
		transform: scale(0);
		height: 15px;
	}
	.navbar {
		padding-bottom: 0.5rem;
	}
	.navbar .navbar-nav .nav-item:first-child {
		order: 4;
	}
	.navbar .navbar-nav .nav-item:nth-child(4) {
		order: 1;
	}
}
@media (max-width: 500px) {
	footer .wrap {
		flex-direction: column;
	}
	.contact form {
		width: 450px;
	}
	.selected-works .wrap {
		margin-bottom: 1rem;
	}
}
@media (max-width: 375px) {
	.contact form {
		width: 310px;
	}
}
